.logo {
  width: 35%;
  padding: 4%; }

.logo-Hambueguer {
  width: 7%;
  padding: 5%;
  padding-left: 42%; }

.menu1 {
  display: none; }

.titulo {
  font-size: 5.9375rem;
  padding: 4%;
  margin: 0; }

.texto {
  color: #aeadae;
  padding: 4% 4% 8% 4%;
  margin: 0;
  font-size: 0.8125rem; }

.rayo {
  display: none; }

.image {
  padding: 0% 4% 0% 4%;
  width: 95%; }

.icono {
  display: none; }

#footer {
  text-align: center;
  background-color: #f2fbfb; }

.phone {
  padding-top: 10%; }

.numero {
  margin: 0;
  padding: 4%;
  font-size: 2.75rem; }

.menu2 {
  padding: 2%;
  margin: 0; }

.menu2 li {
  display: inline; }

.menu2 li + li {
  margin-left: 1%; }

.menu2 a {
  color: black;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none; }

.horizontal {
  width: 1px;
  height: 100px;
  background-color: black; }

@media (min-width: 980px) {
  .logo {
    width: 15%;
    padding: 4% 4% 4% 10%; }

  .logo-Hambueguer {
    display: none; }

  .titulo {
    font-size: 6.25rem;
    padding: 4% 4% 4% 10%;
    margin: 0; }

  .menu1 {
    padding-right: 8%;
    display: inline;
    float: right;
    padding: 4%;
    margin: 0; }

  .menu1 li {
    display: inline; }

  .menu1 a {
    color: black;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-decoration: none; }

  .texto {
    display: inline-block;
    width: 40%;
    color: #aeadae;
    padding: 0% 4% 4% 10%;
    margin: 0;
    font-size: 1rem; }

  .rayo {
    padding-right: 36%;
    width: 3%;
    float: right;
    display: inline; }

  #work {
    padding-left: 10%;
    display: inline-block; }

  .image {
    position: relative;
    display: inline;
    padding: 0%;
    width: 45%; }

  .icono {
    display: none; }

  .icono1 {
    position: absolute;
    top: 51%;
    right: 0%;
    width: 9%;
    padding-right: 4%;
    display: inline;
    float: right; }

  .icono2 {
    position: absolute;
    top: 96%;
    left: 3%;
    width: 4%;
    display: inline;
    float: left; }

  .icono3 {
    position: absolute;
    top: 118%;
    right: 6%;
    width: 6%;
    display: inline;
    float: right; }

  #footer {
    text-align: center;
    background-color: #f2fbfb; }

  .numero {
    margin: 0;
    padding: 4%;
    font-size: 2.75rem; }

  .t-tablet {
    width: 60%;
    padding: 0;
    padding-bottom: 5%;
    margin: 0 auto; }

  .menu2 {
    padding: 2%;
    margin: 0; }

  .menu2 li {
    display: inline; }

  .menu2 li + li {
    margin-left: 1%; }

  .menu2 a {
    color: black;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-decoration: none; } }
@media (min-width: 1500px) {
  .logo {
    width: 15%;
    padding: 4% 4% 4% 10%; }

  .logo-Hambueguer {
    display: none; }

  .titulo {
    font-size: 6.25rem;
    padding: 4% 4% 4% 10%;
    margin: 0; }

  .menu1 {
    display: inline;
    float: right;
    padding: 4%;
    padding-right: 8%;
    margin: 0; }

  .menu1 li {
    display: inline; }

  .menu1 a {
    color: black;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-decoration: none; }

  .texto {
    display: inline-block;
    width: 40%;
    color: #aeadae;
    padding: 0% 4% 4% 10%;
    margin: 0;
    font-size: 1.1875rem; }

  .rayo {
    padding-right: 36%;
    width: 3%;
    float: right;
    display: inline; }

  #work {
    padding-left: 10%;
    display: inline-block; }

  .image {
    position: relative;
    display: inline;
    padding: 0%;
    width: 45%; }

  .icono {
    display: none; }

  .icono1 {
    position: absolute;
    top: 70%;
    right: 0%;
    width: 9%;
    padding-right: 4%;
    display: inline;
    float: right; }

  .icono2 {
    position: absolute;
    top: 133%;
    left: 3%;
    width: 4%;
    display: inline;
    float: left; }

  .icono3 {
    position: absolute;
    top: 170%;
    right: 6%;
    width: 6%;
    display: inline;
    float: right; }

  #footer {
    text-align: center;
    background-color: #f2fbfb; }

  .numero {
    margin: 0;
    padding: 4%;
    font-size: 2.75rem; }

  .t-tablet {
    width: 60%;
    padding: 0;
    padding-bottom: 5%;
    margin: 0 auto; }

  .menu2 {
    padding: 2%;
    margin: 0; }

  .menu2 li {
    display: inline; }

  .menu2 li + li {
    margin-left: 1%; }

  .menu2 a {
    color: black;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-decoration: none; } }
body {
  font-family: 'Montserrat', sans-serif; }

/*# sourceMappingURL=style.css.map */
